__pycache__
.idea
*.swp
gen_asound
singleunit/cpp/*/bin
singleunit/cpp/multiplexer/server
singleunit/cpp/player/player
synth/http/*/bin
synth/http/rust/Cargo.lock
synth/http/rust/target
synth/http/*/server
distributed/*/bin
